<div class="div flex flex-col py-2 px-3">
    <div class="flex items-center space-x-2">
          <button (click)="goToHome()" [ngClass]="currentRoute=='home'? 'bg-blue-500 text-white rounded py-2 px-3' : 'bg-white text-blue-500 border border-blue-500 rounded py-2 px-3' ">Home</button>
          <button (click)="goToProducts()" [ngClass]="currentRoute=='products'? 'bg-blue-500 text-white rounded py-2 px-3' : 'bg-white text-blue-500 border border-blue-500 rounded py-2 px-3' " class="rounded py-2 px-3 bg-blue-500 text-white">Products</button>
    </div>
</div>
<router-outlet></router-outlet>