<div class="py-3 p-5">
    <div class="shadow rounded p-5 flex flex-col space-y-3" >
        <h4 class="text-xl font-bold">Product List</h4>
        <div class="flex items-center space-x-2">
            <input [(ngModel)]="keyword" type="text" id="search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Computer" required />
            <button (click)="search()" class="cursor-pointer bg-blue-500 text-white rounded p-2">Search</button>
        </div>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Id
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Product name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Price
                        </th>
                        <th scope="col" class="px-6 py-3 flex justify-end">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody  *ngIf="products">
                    <tr *ngFor="let p of products" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{p.id}}
                        </th>
                        <td class="px-6 py-4">
                            {{p.name}}
                        </td>
                        <td class="px-6 py-4">
                            {{p.price}}
                        </td>
                        <td class="flex justify-end px-6 py-4">
                            <a (click)="deleteProduct(p)" class="bg-red-500 text-white rounded text-xs p-2">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>